$small:800px;
$large: 801px;

.top_right_rankings_div{
    width: 100%;
    text-align: left;
    background-image: linear-gradient(to bottom right, #202634, rgb(5, 5, 59));
    color: white;
    border-radius: 15px;
    padding-bottom: 1em;
    padding-top: .5em;
    @media screen and (max-width: $small) {
        border-radius: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
.header{
    font-size: .9em;
    font-weight: 600;
    text-align: left;
    margin:0;
    margin-left: .25em;
    margin-bottom: .25em;

}
.rankings_items{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 200px;
    font-size: .5em;
    padding-top: 1em;
    margin-bottom: .25em;
    margin-left: .0;    
}
.ranking_item{
    font-weight: 600;
    text-align: left;
    align-self: flex-end;
    margin:0;
    width: 80%;
    padding-bottom: .25em;
    border-bottom: 1px solid #4c5aed;
}
.ranking_item_count{
    align-self: flex-end;
    font-weight: 900;
    font-size: 1.4em;
    text-align: left;
    margin:0;
    width: 10%;
    padding-bottom: .25em;
    padding-left: 4%;

}