$small:800px;
$large: 801px;
.top_story_container_div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @media screen and (max-width: $small) {
        flex-direction: column;
        justify-content: flex-start;

    }

}
.top_story_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 400px;
    @media screen and (max-width: $small) {
        width: 100%;
        justify-content: flex-start;
    }
}
.top_story_title{
    padding: 0;
    margin-bottom: .5em;
    text-align: left;
    align-self: flex-start;
    width: 85%;
}
.top_story_title_link{
    font-size: 1.7em;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
    
    text-align: center;
    align-self: self-start;
    width: 100%;
    &:visited{
        color: #ffffff;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        align-self: self-start;
}
}
.top_story_description{
    font-size: 1.1rem;
    padding-top: 0rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    text-align: left;

}
.top_story_image{

    width: 99%;
    height: auto;
    margin-top: 0;
   
}
.top_stories_right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    padding: 1em;
    padding-top: 0em;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
    @media screen and (max-width: $small) {
        width: 100%;
        margin-top: 0em;
        padding-top: 0em;
        padding: 0;
        margin-bottom: 1em;
    }
}
.top_story_right_link{
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    margin-top: 0;
    &:visited{
        color: #ffffff;
        text-decoration: none   
}
}


.top_story_right_div{
    margin-top: 1em;
    margin-bottom: .5em;
    padding-left: .25em;
    padding-right: .5em;
    width: 100%;
}
.top_story_right_new{
    align-self: center;
    width: 75%;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: .5em;
    border-bottom: #ffffff solid 1px;
}


.link_in_pic{
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 0;
    &:visited{
        color: #ffffff;
        text-decoration: none
}
    
}

.top_stories_right_tops{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    width: 500px;
    margin-bottom: 1em;
    @media screen and (max-width: $small) {
        width: 100%;
        margin-top: 1em;
    }
  }
  .full_list{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
    @media screen and (max-width: $small) {
        width: 100%;
        margin-top: 1em;
    }
  }
  .full_list_with_pic{    
    flex-basis: 33%; /* CHANGED from -> width: 50% */
    font-size: 20px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #ffffff;
    
    @media screen and (max-width: $small) {
        flex-basis: 100%;
        padding: 1rem;
    }
    &:visited{
        color: #ffffff;
        text-decoration: none
}}

  .top_articles_with_pic {
    flex-basis: 48%; /* CHANGED from -> width: 50% */
    font-size: 20px;
    height: 275px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #ffffff;
    
    @media screen and (max-width: $small) {
        flex-basis: 100%;
        padding: 1rem;
    }
    &:visited{
        color: #ffffff;
        text-decoration: none
}

  }
.top_articles_with_pic:hover{
    font-weight: 800;
}
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }