$small:800px;
$large: 801px;
//contains all top story components
.top_story_container_div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @media screen and (max-width: $small) {
        flex-direction: column;
        justify-content: flex-start;

    }
}   

//top story div for the entire left side of top stories}
.top_story_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 250px;
    height: 900px;
    @media screen and (max-width: $small) {
        width: 100%;
        justify-content: flex-start;
        height: 100%;
    }
}

//Div above link
.top_story_title{
    padding-left: 0;
    padding-top: 1em;
    margin-bottom: .5em;
    text-align: left;
    align-self: flex-start;
    width: 95%;
    font-weight: bolder;
}
//A in top_story_title link
.top_story_title_link{
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    align-self: self-start;
    width: 95%;
    &:visited{
        text-decoration: none;
        font-size: 1.75em;
        font-weight: 600;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        align-self: self-start;
    }
}
.top_story_title_link:hover{
    color: cadetblue;
}
//Div below link 
.top_story_description{
    font-size: 1.1em;
    padding-top: 0rem;
    font-weight: 100;
    text-decoration: none;
    text-align: left;
    width: 95%;
    margin-top: .2em;
    color: rgb(79, 79, 79);


    margin-bottom: 1em;
}
.top_story_image{
    width: 100%;
    height: auto;
    margin-top: 0;
}
.top_story_image:hover{
    filter: brightness(50%);
}
//right side of top story container.  includes four pics
.top_stories_right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    padding: 1em;
    padding-top: 0em;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
    @media screen and (max-width: $small) {
        width: 100%;
        margin-top: 0em;
        padding-top: 0em;
        padding: 0;
        margin-bottom: 1em;
    }
}
.top_stories_right_tops{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    width: 700px;
    margin-bottom: 1em;
    height: 900px;
    @media screen and (max-width: $small) {
        width: 100%;
        margin-top: 1em;
        height: 100%;
    }
  }


  .top_articles_with_pic {
    flex-basis: 50%; /* CHANGED from -> width: 50% */
    font-size: 20px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #ffffff;
    
    @media screen and (max-width: $small) {
        flex-basis: 100%;
        padding: 1rem;
        height: 200px;
    }
    &:visited{
        color: #ffffff;
        text-decoration: none
    }

}
.top_articles_with_pic:hover{
    font-weight: 800;
}
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }

