$small:800px;
$large: 801px;

.title_card{
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    background-image: linear-gradient(to bottom right, #202634, rgb(5, 5, 59));
    border-radius: 15px;
    border-bottom: 5px solid rgb(60, 60, 60);
    border-right: 5px solid rgb(60, 60, 60);

    @media screen and (max-width: $small) {
        width: 100%;
        border-radius: 0px;

    }
}
.title_text{
    width: 100%;
    padding-bottom: .5em;
    padding-top: .5em;
    padding-left: 1em;
    color: white;
    font: 900 1.75em 'DejaVu Sans Mono', monospace;
    @media screen and (max-width: $small) {
        width: 100%;
    }
}