.cat_head_div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1em;
    padding-left: 1em;
}
.cat_head_trend{
    color: rgb(255, 49, 49);
    font-weight: 900;
    font-size: .8em;
    padding-right: .5em;
}
.cat_head_item{
    // border-left: 1px solid rgb(110, 103, 103);
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1em;
    padding-bottom: .5em;
    font-weight: 900;
}