$small:800px;
$large: 801px;
//article list div with that maps articles into articlelistitem
.full_list{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    width: 100%;
    @media screen and (max-width: $small) {
        width: 100%;
        margin-top: 1em;    
        margin-bottom: 1em;

    }
  }

  //two pictures used underneath top story on the left
  .two_pic{
    flex-basis: 50% ; /* CHANGED from -> width: 50% */
    font-size: 20px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #ffffff;
    
    @media screen and (max-width: $small) {
        flex-basis: 100%;
        padding: 1rem;
        height: 250px;
    }
    &:visited{
        color: #ffffff;
        text-decoration: none
}
  }
    .two_pic:hover{
        text-decoration: underline;
    }

   // Article list item with picture
  .with_pic_link{    
    flex-basis: 33% ; /* CHANGED from -> width: 50% */
    font-size: 20px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #ffffff;
    
    @media screen and (max-width: $small) {
        flex-basis: 100%;
        padding: 1rem;
        height: 250px;
    }
    &:visited{
        color: #ffffff;
        text-decoration: none
}}
.full_list_with_pic:hover{
    text-decoration: underline;
}


//div that wraps all of articlelistitem if it's no pic
.no_pic_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(17, 17, 17);
    width: 33% ;   
    height: 250px;
    text-align: left;
    font-size: 1em;
    @media screen and (max-width: $small) {
        flex-basis: 100%;
        padding: 1rem;
        height: auto;
    }
}
.no_pic_link{
    color: #4c5aed;
    text-decoration: none;
    font-size: .65em;
    padding: .5em;
    font-weight: 900;
    &:visited{
        color: #4c5aed;
        text-decoration: none
    }
}
.no_pic_link:hover{
    text-decoration: underline;
}
.no_pic_description{
    font-size: .55em;
    text-align: left;
    padding: .5em;
    color: white;
    font-weight: 700; 
}
