$small:1100px;
$large: 1101px;
///home container at 100 percent contains logo
/// 
.home{
    @media screen and (max-width: $small) {
        background-color: rgb(5, 5, 59);
        text-align: center;
        min-height: 100vh;
        color: white;
        font: 1.1em "Times New Roman", Times, serif;
        font-family: "Times New Roman", Times, serif;
        padding: 0em;
        width: 102vw;
        height: 100%;
        padding-top: 0;
    }
    @media screen and (min-width: $large) {
        text-align: center;
        background-color: rgb(5, 5, 59);
        color: white;
        font: 1.3em "Times New Roman", Times, serif;
        font-family: "Times New Roman", Times, serif;
        padding: 0em;
        width: 100vw;
        height: 100%;
        padding-top: 0;

    }

}
//both sides of logo 100 percent of screen
.logo_div{
    display: flex;
    justify-content:space-between;
    height: 75px;
    width: 100%;
    z-index: 3;
    background-color: rgb(5, 5, 59);
    position: fixed;
    background-image: linear-gradient(black, rgb(5, 5, 59));

    @media screen and (max-width: $small) {
        height: 65px;
    }   
    @media screen and (min-width: $large) {
        
    }   
}
.logo_left{

    width: 100px;
    margin-left: 0em;
    padding-bottom: .2em;
    height: 100%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media screen and (max-width: $small) {
        font-weight: bold;
        margin-bottom: 0em;
        margin-top: 0em;
        height: 65px;
        color: white;
        text-decoration: none;
        font-family: "Courier, Times, serif";  
        align-self: flex-end;
        padding: 0em;
    }   
    @media screen and (min-width: $large) {
        font-weight: bold;
        margin-top: 0em;
        color: white;
        text-decoration: none;
        font-family: "Courier, Times, serif";  
        height: 50px;
        padding-top: .25em;
    }   
}
//right side of logo
.logo_right{
    align-self: flex-end;
    margin-right: .1em;
    font-size: .9em;
    font-weight: bold;
    text-align: right;
    padding-right: .5em;
    padding-bottom: .35em;
    width: 40%
}

.title{
    @media screen and (max-width: $small) {
        font-size: .9em;
        font-weight: bold;
        text-align: left;
        margin-bottom: .5em;
        margin-top: 1em;
        color: white;
        text-decoration: none;
    }
    @media screen and (min-width: $large) {
        font-size: 1.3em;
        font-weight: bold;
        text-align: left;
        margin-bottom: .5em;
        margin-top: 1em;
        color: white;
        text-decoration: none;        
    }
}
    

.content_container{
    z-index: 2;
    margin-top: 60px;
    padding-top: 10em;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: $small) {

        padding: .2em;
        margin-top: 75px;
        width: 100vw;
        height: 95%;
        // padding: 0em;
        
        // height: 100%;60
      }
      @media screen and (min-width: $large) {
        margin-top: 75px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        padding: 1em;
        width: 75%;
        // width: 100vw;
        // height: 100%;
      }
}
.img {
    width: 90%;
    height: auto;
  }
  .title_div{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
  }
  .top_story_right_new{
    align-self: center;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: .5em;
    border-bottom: #ffffff solid 1px;
}

