.home{
    background-color: rgb(5, 5, 41);
    color: white;
    font: 1em sans-serif;
    padding: 0em;
    width: 110vw;
    height: 100vh;
}
#__next{
    background-color: rgb(5, 5, 41);
    color: white;
    font: 1em sans-serif;
    padding: .5em; 
    width: 110vw;
    height: 100vh;
}