$small:500px;
$large: 5000px;



.home{
      
      @media screen and (max-width: $small) {
        background-color: rgb(5, 5, 59);
        text-align: center;
        min-height: 100vh;
        color: white;
        font: 1.1em "Times New Roman", Times, serif;
        font-family: "Times New Roman", Times, serif;
        // padding: 0em;
        // width: 95%;
        // height: 100%;
      }
      @media screen and (max-width: $large) {
        text-align: center;
        background-color: rgb(5, 5, 59);
        color: white;
        font: 1.3em "Times New Roman", Times, serif;
        font-family: "Times New Roman", Times, serif;
        padding: 1em;
        width: 100vw;
        height: 100%;
      }

}
.logo_font{

    @media screen and (max-width: $small) {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin-bottom: .5em;
        margin-top: 0em;
        color: white;
        text-decoration: none;
        font-family: "Courier, Times, serif";  

    }   
    @media screen and (max-width: $large) {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        margin-bottom: .5em;
        margin-top: 0em;
        color: white;
        text-decoration: none;
        font-family: "Courier, Times, serif";  

    }   

}
.title{
    @media screen and (max-width: $small) {
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        margin-bottom: .5em;
        margin-top: 1em;
        color: white;
        text-decoration: none;
    }
    @media screen and (max-width: $large) {
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
        margin-bottom: .5em;
        margin-top: 1em;
        color: white;
        text-decoration: none;        
    }
        
}
    

.content_container{

    @media screen and (max-width: $small) {

        // padding: 0em;
        
        // height: 100%;
      }
      @media screen and (max-width: $large) {
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        padding: 1em;
        width: 75%;
        // width: 100vw;
        // height: 100%;
      }
}
.img {
    width: 75%;
    height: auto;
  }
  .title_div{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
  }