$small:800px;
$large: 801px;

.search_button{
    width: 40px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    border-bottom: 2px;
    padding-top: 1px;
    // padding-bottom: .9em;
    padding-right: .5em;
}

.search_form{
    padding-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 0em;
    height: 50px;

}
.search_input{
    height: 50px;
    width: 60%;
    font-size: .85em;
    padding-left: .5em;
    padding-top:0;
    border: 0;
    border-bottom: 2px solid rgb(111, 121, 175);
    box-shadow: 0;
    outline: 0;
    font-size: 1.3em;
    font-weight: 600;
    color: gray;
    @media screen and (min-width: $large) {
        width: 300px;
    }   

}
.search_div{
    width: 100%;
    padding-left: 1em;
    height: 65px;
    padding-top: 1.5em;
}